workflows/00_workflow_principal.json
{
  "name": "Agente Executivo Pedro - Principal",
  "nodes": [
    {
      "parameters": {
        "public": false,
        "initialMessages": "=Olá! Sou o Pedro, seu assistente executivo. Como posso ajudar?",
        "options": {}
      },
      "id": "chat-trigger",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "webhookId": "pedro-agent-chat"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=`# DATA ATUAL\nHoje é ${$now.format('dd/MM/yyyy')}. Amanhã é ${$now.plus({days: 1}).format('dd/MM/yyyy')}.\n\n# IDENTIDADE\nVocê é Pedro, assistente executivo.\nSeu papel é EXECUTAR tarefas, não apenas interpretar.\nVocê opera dentro do n8n com acesso a tools específicas.\n\n# REGRA ABSOLUTA: PARSING OBRIGATÓRIO\nANTES de chamar qualquer tool, você DEVE:\n1. Identificar QUAL tool será usada\n2. Extrair TODOS os campos obrigatórios da mensagem do usuário\n3. Montar o JSON com os campos corretos\n4. SÓ ENTÃO chamar a tool\n\nNUNCA envie o campo 'query' com texto livre para nenhuma tool.\nSEMPRE envie campos estruturados conforme o schema de cada tool.\n\n# ROTEAMENTO SEMÂNTICO\nUse esta tabela para decidir qual tool chamar:\n\n| Palavra/Intenção              | Tool                      |\n|-------------------------------|---------------------------|\n| pauta, tarefa, pendência      | criar_tarefa              |\n| agenda, to-do, atividade      | criar_tarefa              |\n| ver tarefas, listar tarefas   | consultar_tarefas         |\n| concluir, mudar prazo, obs    | atualizar_tarefa          |\n| negociação, deal, parceiro    | registrar_negociacao      |\n| pipeline, funil, negociações  | consultar_pipeline        |\n| mudar status negociação       | atualizar_negociacao      |\n\n# COLETA ANTES DE CRIAR TAREFA\nAntes de chamar criar_tarefa, confirme que tem:\n- titulo: OBRIGATÓRIO — extraído ou confirmado\n- prazo: RECOMENDADO — se não mencionado, pergunte UMA vez\n\nSe o usuário não informou prazo, diga naturalmente:\n\"Entendido. Qual o prazo para [titulo]? Se não tiver, é só dizer 'sem prazo'.\"\n\nSó chame criar_tarefa quando:\n1. Tiver o titulo confirmado\n2. O usuário tiver informado o prazo OU confirmado que não há prazo\nExceção: se a frase já tiver prazo claro (\"até amanhã\", \"pra sexta\"), crie direto.\n\n# CONTINUAÇÃO DE CONTEXTO\nANTES de tentar identificar uma nova intenção, verifique o histórico da conversa.\n\nSE sua última mensagem foi uma pergunta de coleta (ex: perguntou prazo de uma tarefa), trate a resposta do usuário como continuação direta — mesmo que seja uma palavra só.\n\nREGRA: mensagem curta após pergunta de prazo = resposta ao prazo.\n\nPADRÃO — prazo pendente:\nSe você perguntou \"Qual o prazo para [titulo]?\" e o usuário responde com:\n- expressão de tempo → converta para DD/MM/AAAA e chame criar_tarefa com titulo + prazo\n- negação ou ausência → chame criar_tarefa com titulo, sem prazo\n\nEXEMPLOS DE CONTINUAÇÃO:\nVocê: \"Qual o prazo para Ligar pro João?\"\nUsuário: \"amanhã\" → criar_tarefa { \"titulo\": \"Ligar pro João\", \"prazo\": \"${$now.plus({days: 1}).format('dd/MM/yyyy')}\" }\n\nVocê: \"Qual o prazo para Revisar contrato?\"\nUsuário: \"sexta\" → criar_tarefa { \"titulo\": \"Revisar contrato\", \"prazo\": \"[calcule próxima sexta]\" }\n\nVocê: \"Qual o prazo para Reunião com o time?\"\nUsuário: \"sem prazo\" → criar_tarefa { \"titulo\": \"Reunião com o time\" }\n\nVocê: \"Qual o prazo para Enviar proposta?\"\nUsuário: \"não tem\" → criar_tarefa { \"titulo\": \"Enviar proposta\" }\n\nNUNCA peça o prazo novamente se o usuário já respondeu.\nNUNCA trate \"amanhã\", \"sexta\", \"semana que vem\" como nova tarefa quando estiver aguardando prazo.\n\n# SCHEMAS DE CADA TOOL\n\n## Tool: criar_tarefa\nExtraia da mensagem:\n- titulo (OBRIGATÓRIO): nome da tarefa\n- prazo (opcional): data no formato DD/MM/AAAA\n- observacao (opcional): detalhes adicionais\n\nEXEMPLOS DE FRASES NATURAIS:\n\"coloca na pauta ligar pro João\" → { titulo: \"Ligar pro João\" } → pergunte prazo\n\"lembra de enviar o relatório até sexta\" → { titulo: \"Enviar relatório\", prazo: [calcule a sexta] }\n\"preciso revisar o contrato da Maxifar amanhã\" → { titulo: \"Revisar contrato Maxifar\", prazo: [amanhã] }\n\"agenda reunião com o time, sem urgência\" → { titulo: \"Reunião com o time\", observacao: \"sem urgência\" } → pergunte prazo\n\nCONVERSÃO DE DATAS RELATIVAS (use DATA ATUAL acima):\n- \"hoje\" → ${$now.format('dd/MM/yyyy')}\n- \"amanhã\" → ${$now.plus({days: 1}).format('dd/MM/yyyy')}\n- \"depois de amanhã\" → ${$now.plus({days: 2}).format('dd/MM/yyyy')}\n- \"sexta\" → calcule a próxima sexta-feira a partir de hoje\n- \"semana que vem\" → calcule a próxima segunda-feira\n- \"fim do mês\" → último dia do mês atual\nSempre converta para DD/MM/AAAA antes de enviar.\n\n## Tool: consultar_tarefas\nSem campos. Chame direto. Retorna apenas tarefas pendentes/em andamento.\n\n## Tool: atualizar_tarefa\nExtraia:\n- titulo (OBRIGATÓRIO): nome da tarefa\n- campo (OBRIGATÓRIO): status | prazo | observacao\n- novo_valor (OBRIGATÓRIO): novo valor\n\nTRADUÇÃO DE INTENÇÃO OBRIGATÓRIA:\n- \"concluir X\" → campo=status, novo_valor=concluída\n- \"adiar X pra 10/04\" → campo=prazo, novo_valor=10/04/2026\n- \"reabrir X\" → campo=status, novo_valor=pendente\n- \"adicionar obs em X: [texto]\" → campo=observacao, novo_valor=[texto]\n\n## Tool: registrar_negociacao\nExtraia:\n- parceiro (OBRIGATÓRIO): nome da empresa\n- ponto_focal (opcional): contato principal\n- produto (OBRIGATÓRIO): produto em negociação\n- status (OBRIGATÓRIO): etapa atual\n- resumo_negociacao (opcional): contexto\n- observacoes_gerais (opcional): notas extras\n\nATENÇÃO: o campo SEMPRE se chama 'parceiro'. Nunca use 'empresa' ou 'nome_empresa'.\n\n## Tool: consultar_pipeline\nSem campos. Chame direto. Retorna negociações ativas (exclui fechadas e perdidas).\n\n## Tool: atualizar_negociacao\nExtraia:\n- parceiro (OBRIGATÓRIO): nome do parceiro\n- status_novo (OBRIGATÓRIO): nova etapa\n\nExemplo: \"Maxifar entrou em compliance\"\nVocê monta: { \"parceiro\": \"Maxifar\", \"status_novo\": \"compliance\" }\nNUNCA envie: { \"query\": \"Maxifar: compliance\" }\n\n# TRATAMENTO DE ERROS\nQuando uma tool retornar erro, INTERPRETE o erro.\nNUNCA reexecute automaticamente. NUNCA entre em loop.\n\n| Código              | Sua ação                                |\n|---------------------|------------------------------------------|\n| CAMPO_FALTANDO      | Pergunte o campo que falta ao usuário    |\n| AMBIGUIDADE         | Liste opções e peça escolha              |\n| NAO_ENCONTRADO      | Informe e sugira verificar o nome        |\n| ERRO_PLANILHA       | Informe que houve erro técnico           |\n| DUPLICADO           | Informe e pergunte se quer atualizar     |\n| CAMPO_INVALIDO      | Informe campos aceitos e peça correção   |\n\nFormato: \"Não consegui [ação] porque [motivo]. Pode me informar [campo]?\"\n\n# MULTI-STEP\nSe o usuário pedir 2+ ações na mesma mensagem:\n1. Identifique TODAS as ações\n2. Monte o JSON de CADA uma separadamente\n3. Execute na ordem lógica\n4. Reporte resultado de cada uma\n\nExemplo: \"Fechei com Maxifar e pode concluir a tarefa de contrato\"\n→ Ação 1: atualizar_negociacao { \"parceiro\": \"Maxifar\", \"status_novo\": \"fechado\" }\n→ Ação 2: atualizar_tarefa { \"titulo\": \"contrato\", \"campo\": \"status\", \"novo_valor\": \"concluída\" }\n\n# COMPORTAMENTO\n1. Seja direto e conversacional, como um assistente de confiança.\n2. Confirme execução com: \"Feito: [ação realizada]\"\n3. Para criar tarefa: se o prazo não foi mencionado, pergunte antes de criar.\n4. Para qualquer outra informação faltando, pergunte UMA vez de forma natural.\n5. Nunca invente dados.\n6. Nunca reexecute tool que deu erro sem nova instrução do usuário.\n7. Converta SEMPRE datas relativas para DD/MM/AAAA usando a DATA ATUAL deste prompt.`",
          "maxIterations": 10
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        380,
        500
      ]
    },
    {
      "parameters": {
        "name": "criar_tarefa",
        "description": "Cria uma nova tarefa. OBRIGATÓRIO enviar campo 'titulo'. Opcionais: 'prazo' (DD/MM/AAAA), 'observacao'.",
        "workflowId": "={{ $env.WF_CRIAR_TAREFA }}",
        "responsePropertyName": "response",
        "fields": {
          "values": [
            {
              "name": "titulo",
              "description": "Nome da tarefa a ser criada",
              "type": "string",
              "required": true
            },
            {
              "name": "prazo",
              "description": "Data limite no formato DD/MM/AAAA",
              "type": "string",
              "required": false
            },
            {
              "name": "observacao",
              "description": "Detalhes ou notas sobre a tarefa",
              "type": "string",
              "required": false
            }
          ]
        }
      },
      "id": "tool-criar-tarefa",
      "name": "Tool Criar Tarefa",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        260,
        700
      ]
    },
    {
      "parameters": {
        "name": "consultar_tarefas",
        "description": "Consulta todas as tarefas pendentes e em andamento (exclui concluídas). Não requer parâmetros.",
        "workflowId": "={{ $env.WF_CONSULTAR_TAREFAS }}",
        "responsePropertyName": "response",
        "fields": {
          "values": [
            {
              "name": "vazio",
              "description": "Não utilizar. Deixe vazio.",
              "type": "string",
              "required": false
            }
          ]
        }
      },
      "id": "tool-consultar-tarefas",
      "name": "Tool Consultar Tarefas",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        400,
        700
      ]
    },
    {
      "parameters": {
        "name": "atualizar_tarefa",
        "description": "Atualiza um campo de uma tarefa existente. OBRIGATÓRIO: 'titulo', 'campo' (status|prazo|observacao), 'novo_valor'. Para concluir tarefa: campo=status, novo_valor=concluída.",
        "workflowId": "={{ $env.WF_ATUALIZAR_TAREFA }}",
        "responsePropertyName": "response",
        "fields": {
          "values": [
            {
              "name": "titulo",
              "description": "Nome exato da tarefa a ser atualizada",
              "type": "string",
              "required": true
            },
            {
              "name": "campo",
              "description": "Qual campo alterar: status, prazo ou observacao",
              "type": "string",
              "required": true
            },
            {
              "name": "novo_valor",
              "description": "Novo valor para o campo",
              "type": "string",
              "required": true
            }
          ]
        }
      },
      "id": "tool-atualizar-tarefa",
      "name": "Tool Atualizar Tarefa",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        540,
        700
      ]
    },
    {
      "parameters": {
        "name": "registrar_negociacao",
        "description": "Registra uma nova negociação no pipeline. OBRIGATÓRIO: 'parceiro', 'produto', 'status'. Opcionais: 'ponto_focal', 'resumo_negociacao', 'observacoes_gerais'. ATENÇÃO: use sempre 'parceiro', nunca 'empresa'.",
        "workflowId": "={{ $env.WF_REGISTRAR_NEGOCIACAO }}",
        "responsePropertyName": "response",
        "fields": {
          "values": [
            {
              "name": "parceiro",
              "description": "Nome da empresa parceira",
              "type": "string",
              "required": true
            },
            {
              "name": "ponto_focal",
              "description": "Nome do contato principal",
              "type": "string",
              "required": false
            },
            {
              "name": "produto",
              "description": "Produto em negociação",
              "type": "string",
              "required": true
            },
            {
              "name": "status",
              "description": "Etapa atual da negociação",
              "type": "string",
              "required": true
            },
            {
              "name": "resumo_negociacao",
              "description": "Contexto e detalhes da negociação",
              "type": "string",
              "required": false
            },
            {
              "name": "observacoes_gerais",
              "description": "Notas extras ou pendências",
              "type": "string",
              "required": false
            }
          ]
        }
      },
      "id": "tool-registrar-negociacao",
      "name": "Tool Registrar Negociação",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        680,
        700
      ]
    },
    {
      "parameters": {
        "name": "consultar_pipeline",
        "description": "Consulta as negociações ativas do pipeline comercial (exclui fechadas e perdidas). Não requer parâmetros.",
        "workflowId": "={{ $env.WF_CONSULTAR_PIPELINE }}",
        "responsePropertyName": "response",
        "fields": {
          "values": [
            {
              "name": "vazio",
              "description": "Não utilizar. Deixe vazio.",
              "type": "string",
              "required": false
            }
          ]
        }
      },
      "id": "tool-consultar-pipeline",
      "name": "Tool Consultar Pipeline",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        820,
        700
      ]
    },
    {
      "parameters": {
        "name": "atualizar_negociacao",
        "description": "Atualiza o status de uma negociação existente. OBRIGATÓRIO: 'parceiro' (nome exato), 'status_novo' (nova etapa). ATENÇÃO: use sempre 'parceiro', nunca 'empresa'.",
        "workflowId": "={{ $env.WF_ATUALIZAR_NEGOCIACAO }}",
        "responsePropertyName": "response",
        "fields": {
          "values": [
            {
              "name": "parceiro",
              "description": "Nome exato do parceiro na planilha",
              "type": "string",
              "required": true
            },
            {
              "name": "status_novo",
              "description": "Nova etapa da negociação",
              "type": "string",
              "required": true
            }
          ]
        }
      },
      "id": "tool-atualizar-negociacao",
      "name": "Tool Atualizar Negociação",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        960,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rsyvaviwzlhfncufutoa.supabase.co/rest/v1/sessions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJzeXZhdml3emxoZm5jdWZ1dG9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwNTg3ODksImV4cCI6MjA5MTYzNDc4OX0.n54iwErxsXPHPVFm09ay2VuPtmXgxp20HLMKXGu1-VQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJzeXZhdml3emxoZm5jdWZ1dG9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwNTg3ODksImV4cCI6MjA5MTYzNDc4OX0.n54iwErxsXPHPVFm09ay2VuPtmXgxp20HLMKXGu1-VQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $json.sessionId ?? 'default' }}"
            },
            {
              "name": "last_active",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "upsert-session",
      "name": "Upsert Sessão",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        140
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://rsyvaviwzlhfncufutoa.supabase.co/rest/v1/session_messages?session_id=eq.{{$json[0].id}}&order=created_at.asc&limit=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJzeXZhdml3emxoZm5jdWZ1dG9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwNTg3ODksImV4cCI6MjA5MTYzNDc4OX0.n54iwErxsXPHPVFm09ay2VuPtmXgxp20HLMKXGu1-VQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJzeXZhdml3emxoZm5jdWZ1dG9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwNTg3ODksImV4cCI6MjA5MTYzNDc4OX0.n54iwErxsXPHPVFm09ay2VuPtmXgxp20HLMKXGu1-VQ"
            }
          ]
        }
      },
      "id": "carregar-historico",
      "name": "Carregar Histórico",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst sessionData = $('Upsert Sessão').item.json[0];\nconst historico = $input.all().map(i => i.json);\nconst chatInput = $('Chat Trigger').item.json.chatInput ?? '';\n\nconst messages = historico.map(msg => ({\n  role: msg.role,\n  content: msg.content\n}));\n\nreturn {\n  session_id: sessionData.id,\n  messages: messages,\n  chatInput: chatInput\n};\n"
      },
      "id": "montar-contexto",
      "name": "Montar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rsyvaviwzlhfncufutoa.supabase.co/rest/v1/session_messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJzeXZhdml3emxoZm5jdWZ1dG9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwNTg3ODksImV4cCI6MjA5MTYzNDc4OX0.n54iwErxsXPHPVFm09ay2VuPtmXgxp20HLMKXGu1-VQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJzeXZhdml3emxoZm5jdWZ1dG9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwNTg3ODksImV4cCI6MjA5MTYzNDc4OX0.n54iwErxsXPHPVFm09ay2VuPtmXgxp20HLMKXGu1-VQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session_id",
              "value": "={{ $('Montar Contexto').item.json.session_id }}"
            },
            {
              "name": "role",
              "value": "user"
            },
            {
              "name": "content",
              "value": "={{ $('Montar Contexto').item.json.chatInput }}"
            }
          ]
        }
      },
      "id": "salvar-user",
      "name": "Salvar Msg Usuário",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rsyvaviwzlhfncufutoa.supabase.co/rest/v1/session_messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJzeXZhdml3emxoZm5jdWZ1dG9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwNTg3ODksImV4cCI6MjA5MTYzNDc4OX0.n54iwErxsXPHPVFm09ay2VuPtmXgxp20HLMKXGu1-VQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJzeXZhdml3emxoZm5jdWZ1dG9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwNTg3ODksImV4cCI6MjA5MTYzNDc4OX0.n54iwErxsXPHPVFm09ay2VuPtmXgxp20HLMKXGu1-VQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session_id",
              "value": "={{ $('Montar Contexto').item.json.session_id }}"
            },
            {
              "name": "role",
              "value": "assistant"
            },
            {
              "name": "content",
              "value": "={{ $json.output }}"
            }
          ]
        }
      },
      "id": "salvar-assistant",
      "name": "Salvar Resposta Pedro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        300
      ]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Upsert Sessão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool Criar Tarefa": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Consultar Tarefas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Atualizar Tarefa": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Registrar Negociação": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Consultar Pipeline": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Atualizar Negociação": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Sessão": {
      "main": [
        [
          {
            "node": "Carregar Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carregar Histórico": {
      "main": [
        [
          {
            "node": "Montar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Contexto": {
      "main": [
        [
          {
            "node": "Salvar Msg Usuário",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Msg Usuário": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Salvar Resposta Pedro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "agente-pedro"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}