workflows/02_sub_consultar_tarefas.json
{
  "name": "Sub - Consultar Tarefas",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\n\nif (raw.input) {\n  const parsed = typeof raw.input === 'string' ? JSON.parse(raw.input) : raw.input;\n  return [{ json: parsed }];\n}\n\nreturn [{ json: raw }];"
      },
      "id": "parse-input",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.SHEET_TAREFAS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Tarefas"
        },
        "options": {}
      },
      "id": "sheets-read",
      "name": "Google Sheets - Ler",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n// console.log('items:', items.length);\n\nfunction clean(val) {\n  if (val === null || val === undefined) return '';\n  return String(val).trim();\n}\n\nreturn items\n  .map(item => {\n    const row = item.json;\n    const status = clean(row.status).toLowerCase();\n\n    return {\n      json: {\n        id: clean(row.id) || `${Date.now()}-${Math.floor(Math.random()*1000)}`,\n        titulo: clean(row.titulo),\n        prazo: row.prazo || null,\n        observacao: clean(row.observacao),\n        status: clean(row.status),\n        status_norm: status\n      }\n    };\n  })\n  .filter(item => {\n    return item.json.status_norm !== 'concluída' &&\n           item.json.status_norm !== 'concluida';\n  });"
      },
      "id": "filtrar-agregar",
      "name": "Filtrar Tarefas Ativas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Google Sheets - Ler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Ler": {
      "main": [
        [
          {
            "node": "Filtrar Tarefas Ativas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "agente-pedro"
    },
    {
      "name": "subworkflow"
    }
  ],
  "pinData": {}
}
