workflows/05_sub_consultar_pipeline.json
{
  "name": "Sub - Consultar Pipeline",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\n\nif (raw.input) {\n  const parsed = typeof raw.input === 'string' ? JSON.parse(raw.input) : raw.input;\n  return [{ json: parsed }];\n}\n\nreturn [{ json: raw }];"
      },
      "id": "parse-input",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.SHEET_PIPELINE_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Pipeline"
        },
        "options": {}
      },
      "id": "sheets-read",
      "name": "Google Sheets - Ler",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n// console.log('items:', items.length);\n\nfunction clean(val) {\n  if (val === null || val === undefined) return '';\n  return String(val).trim();\n}\n\nreturn items.map(item => {\n  const row = item.json;\n\n  return {\n    json: {\n      id_followup:             clean(row.id_followup) || `${Date.now()}-${Math.floor(Math.random()*1000)}`,\n      parceiro:                clean(row.parceiro),\n      ponto_focal:             clean(row.ponto_focal),\n      produto:                 clean(row.produto),\n      status:                  clean(row.status),\n      status_norm:             clean(row.status).toLowerCase(),\n      status_followup:         clean(row.status_followup),\n      status_followup_norm:    clean(row.status_followup).toLowerCase(),\n      data_inicio_status:      row.data_inicio_status ? String(row.data_inicio_status).trim() : null,\n      data_followup_realizado: row.data_followup_realizado ? String(row.data_followup_realizado).trim() : null,\n      ultima_cadencia_feita:   clean(row.ultima_cadencia_feita),\n      resumo_negociacao:       clean(row.resumo_negociacao),\n      observacoes_gerais:      clean(row.observacoes_gerais)\n    }\n  };\n});"
      },
      "id": "processar-pipeline",
      "name": "Processar Pipeline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Google Sheets - Ler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Ler": {
      "main": [
        [
          {
            "node": "Processar Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "agente-pedro"
    },
    {
      "name": "subworkflow"
    }
  ],
  "pinData": {}
}
