workflows/13_sub_log_evento.json
{
  "name": "Sub - Log Evento",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst input = raw.input ? (typeof raw.input === 'string' ? JSON.parse(raw.input) : raw.input) : raw;\n\n// Valida campos obrigatórios\nif (!input.entidade) return [{ json: { _ok: false, mensagem: 'Campo entidade obrigatório.' } }];\nif (!input.acao) return [{ json: { _ok: false, mensagem: 'Campo acao obrigatório.' } }];\n\nreturn [{\n  json: {\n    _ok: true,\n    entidade:     input.entidade,\n    entidade_id:  input.entidade_id || null,\n    acao:         input.acao,\n    campo:        input.campo || null,\n    valor_antes:  input.valor_antes !== undefined ? String(input.valor_antes) : null,\n    valor_depois: input.valor_depois !== undefined ? String(input.valor_depois) : null,\n    origem:       input.origem || 'agente-pedro'\n  }\n}];"
      },
      "id": "parse-validar",
      "name": "Parse e Validar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rsyvaviwzlhfncufutoa.supabase.co/rest/v1/audit_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJzeXZhdml3emxoZm5jdWZ1dG9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwNTg3ODksImV4cCI6MjA5MTYzNDc4OX0.n54iwErxsXPHPVFm09ay2VuPtmXgxp20HLMKXGu1-VQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJzeXZhdml3emxoZm5jdWZ1dG9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwNTg3ODksImV4cCI6MjA5MTYzNDc4OX0.n54iwErxsXPHPVFm09ay2VuPtmXgxp20HLMKXGu1-VQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ entidade: $json.entidade, entidade_id: $json.entidade_id, acao: $json.acao, campo: $json.campo, valor_antes: $json.valor_antes, valor_depois: $json.valor_depois, origem: $json.origem }) }}"
      },
      "id": "salvar-supabase",
      "name": "Salvar no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "={{ JSON.stringify({ status: 'ok', mensagem: 'Evento registrado.' }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "resposta-ok",
      "name": "Resposta OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "={{ JSON.stringify({ status: 'erro', mensagem: $json.mensagem }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "resposta-erro",
      "name": "Resposta Erro",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "ok-check",
              "leftValue": "={{ $json._ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validacao-ok",
      "name": "Validação OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        420,
        420
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Parse e Validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse e Validar": {
      "main": [
        [
          {
            "node": "Validação OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validação OK?": {
      "main": [
        [
          {
            "node": "Salvar no Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar no Supabase": {
      "main": [
        [
          {
            "node": "Resposta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "agente-pedro"
    },
    {
      "name": "subworkflow"
    },
    {
      "name": "auditoria"
    }
  ],
  "pinData": {}
}